# 2015 Hate Crime Incidents by State Heatmap

Read in 2015 Hate Crime Incidents by State from FBI, and create a heat map by US State.
Heat is normalized by US Population.

In [1]:
# Dependencies:
# First you need to pip install plotly and create free account online for the api key. 
# Second you need to pip install Orca.
# Then you can call plotly as py and orca as pio.
import pandas as pd
import numpy as np
import requests
import plotly
plotly.tools.set_credentials_file(username='drbeaman', api_key='sT7AGDihwOZJVDF5iwhl')
import plotly.plotly as py
import plotly.io as pio

In [2]:
# Import incidents by state file as DataFrame
incidents_2015 = "Resources/hate_crime_by_state_2015.csv"
incidents_2015_df = pd.read_csv(incidents_2015)

In [3]:
# Preview file
incidents_2015_df.head()

,State code,Participating state,Number of participating agencies,Population covered,Agencies submitting incident reports,Total number of incidents reported,Incidents by Normalized Population
0,AL,Alabama,34,"1,252,146",3,10,7.986289
1,AK,Alaska,33,"734,820",4,8,10.887020
2,AZ,Arizona,101,"6,622,880",21,276,41.673713
3,AR,Arkansas,279,"2,754,543",4,5,1.815183
4,CA,California,730,"39,137,326",213,837,21.386234

In [8]:
#Rename columns to use
incidents_2015_df.rename(columns=
    {'Population\ncovered':"2015 Population",
    'Total\nnumber of\nincidents\nreported':'2015 Incidents',
    'Incidents by Normalized Population':'2015 Incidents by Normalized Population'}, inplace=True)
incidents_2015_df.columns

Index(['State code', 'Participating state',
       'Number of\nparticipating\nagencies', '2015 Population',
       'Agencies\nsubmitting\nincident\nreports', '2015 Incidents',
       '2015 Incidents by Normalized Population'],
      dtype='object')

In [9]:
#Preview df
incidents_2015_df.head()

,State code,Participating state,Number of participating agencies,2015 Population,Agencies submitting incident reports,2015 Incidents,2015 Incidents by Normalized Population
0,AL,Alabama,34,"1,252,146",3,10,7.986289
1,AK,Alaska,33,"734,820",4,8,10.887020
2,AZ,Arizona,101,"6,622,880",21,276,41.673713
3,AR,Arkansas,279,"2,754,543",4,5,1.815183
4,CA,California,730,"39,137,326",213,837,21.386234

In [11]:
#Drop unnecessary columns
condensed= incidents_2015_df.drop(columns=[
    'Number of\nparticipating\nagencies','Agencies\nsubmitting\nincident\nreports'])
condensed

,State code,Participating state,2015 Population,2015 Incidents,2015 Incidents by Normalized Population
0,AL,Alabama,"1,252,146",10,7.986289
1,AK,Alaska,"734,820",8,10.887020
2,AZ,Arizona,"6,622,880",276,41.673713
3,AR,Arkansas,"2,754,543",5,1.815183
4,CA,California,"39,137,326",837,21.386234
5,CO,Colorado,"5,445,853",107,19.647978
6,CT,Connecticut,"3,399,068",93,27.360441
7,DE,Delaware,"945,934",11,11.628718
8,FL,Florida,"5,356,877",72,13.440667
9,GA,Georgia,"7,991,234",44,5.506033
10,ID,Idaho,"1,654,475",34,20.550326
11,IL,Illinois,"12,501,008",90,7.199419
12,IN,Indiana,"3,224,755",63,19.536368
13,IA,Iowa,"3,105,094",6,1.932309
14,KS,Kansas,"2,741,323",62,22.616817
15,KY,Kentucky,"4,402,368",188,42.704290
16,LA,Louisiana,"3,711,824",38,10.237554
17,ME,Maine,"1,329,328",38,28.585872
18,MD,Maryland,"6,006,401",41,6.826051
19,MA,Massachusetts,"6,566,279",411,62.592528
20,MI,Michigan,"9,834,270",309,31.420736
21,MN,Minnesota,"5,218,435",109,20.887488
22,MS,Mississippi,"763,830",0,0.000000
23,MO,Missouri,"6,079,483",100,16.448767
24,MT,Montana,"1,023,807",45,43.953597
25,NE,Nebraska,"1,821,196",19,10.432705
26,NV,Nevada,"2,890,845",58,20.063338
27,NH,New Hampshire,"1,267,715",13,10.254671
28,NJ,New Jersey,"8,956,395",330,36.845182
29,NM,New Mexico,"574,972",13,22.609797
30,NY,New York,"19,766,342",500,25.295525
31,NC,North Carolina,"10,041,690",161,16.033158
32,ND,North Dakota,"756,927",36,47.560729
33,OH,Ohio,"9,781,677",416,42.528495
34,OK,Oklahoma,"3,896,985",37,9.494519
35,OR,Oregon,"1,671,416",65,38.889181
36,PA,Pennsylvania,"12,550,581",64,5.099366
37,RI,Rhode Island,"1,056,298",18,17.040646
38,SC,South Carolina,"4,826,241",55,11.396033
39,SD,South Dakota,"782,152",16,20.456382
40,TN,Tennessee,"6,600,299",221,33.483332
41,TX,Texas,"27,390,337",191,6.973262
42,UT,Utah,"2,966,781",47,15.842086
43,VT,Vermont,"626,042",8,12.778695
44,VA,Virginia,"8,380,278",158,18.853790
45,WA,Washington,"7,163,444",275,38.389356
46,WV,West Virginia,"1,494,503",41,27.433869
47,WI,Wisconsin,"5,580,752",43,7.705055
48,WY,Wyoming,"564,577",2,3.542475

# Map data

In [12]:
#For loop
for col in condensed.columns:
    condensed[col] = condensed[col].astype(str)

#Set color groups for heat scale 
scl = [[0.0, 'rgb(242,240,247)'],[0.2, 'rgb(218,218,235)'],[0.4, 'rgb(188,189,220)'],\
    [0.6, 'rgb(158,154,200)'],[0.8, 'rgb(117,107,177)'],[1.0, 'rgb(84,39,143)']]

# Prepare data to put into text.
# Text variable will be inserted into 'data' dictionary below.
# These columns will appear in plotly.com hover feature.
condensed['text'] = condensed['Participating state'] + '<br>' +\
    ' 2015 Population ' + condensed['2015 Population']+\
    ' 2015 Incidents '+condensed['2015 Incidents']+\
    ' 2015 Incidents by Normalized Population '+condensed['2015 Incidents by Normalized Population']

# Set up data dictionary to hold the data
data = [ dict(
        type='choropleth',
        colorscale = scl,
        autocolorscale = False,
        locations = condensed['State code'],
        z = condensed['2015 Incidents by Normalized Population'].astype(float),
        locationmode = 'USA-states',
        text = condensed['text'],
        marker = dict(
            line = dict (
                color = 'rgb(255,255,255)',
                width = 2
            )
        ),
        colorbar = dict(
            title = "Hate Crime Incidents by Normalized Population"
        )
    ) ]

# Set up layout dictionary for the visualization
layout = dict(
        title = '2015 Hate Crime Incidents by Participating State<br>(Hover for breakdown)',
        geo = dict(
            scope='usa',
            projection=dict( type='albers usa' ),
            showlakes = True,
            lakecolor = 'rgb(255, 255, 255)',
        ),
    )

# Name the figure as a dictionary of the 1) data dictionary and 2) layout dictonary 
fig = dict( data=data, layout=layout )

# Name the file for your inline viewing 
# url = py.iplot( fig, filename='d3-cloropleth-map' )
py.iplot(data, filename='d3-cloropleth-map')

#save fig
pio.write_image(fig, 'Images/2015_hc_incidents_norm_pop.png')

High five! You successfully sent some data to your account on plotly. View your plot in your browser at https://plot.ly/~drbeaman/0 or inside your plot.ly account where it is named 'd3-cloropleth-map'